<%= form_tag("/search", method: "get") do %>
  <ul id="ships">
    <span>Sunken ships</span>
    <% ships = ShipsViewHelper.ships(reduced_table.ships) %>

    <% ships.each_with_index do |ship, index| %>
      <li>
        <%= label_tag(ship.name, "#{ship.length}:") %>
        <%= check_box_tag(ship.name, "1", ship.sunk?, data: { length: ship.length, id: ship.id } )%>
      </li>
    <% end %>
  </ul>
<% end %>
