// Place all the styles related to the Move controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin-right: 0.75em;
  display: inline-block;
}
ul {
  display: inline-block;
  width: 3em;
  border: 1px solid black;
  border-radius: 2%;
  padding: 1em;
  li {
    text-align: center;
    list-style-type: none;
  }
}

table {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1%;

  td {
    width: 50px;
    height: 50px;
    border-radius: 2%;

    &.row-label {
      width: 20px;
      font-weight: bold;
      text-align: center;
    }

    &[data-row][data-target='true'] {
      border: 2px solid red;
    }

    &[data-row] {
      border: 2px solid black;
    }
  }
}
