// Place all the styles related to the Move controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",sans-serif;
}

.left-column {
  display: flex;
  justify-content: space-around;
  align-items: inherit;
  align-self: stretch;
  flex-direction: column;
}

nav {
  width: 6em;
  font-size: xx-large;
  font-weight: 100;
  text-align: center;
}

html:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/BB61_USS_Iowa_BB61_broadside_USN.jpg/1280px-BB61_USS_Iowa_BB61_broadside_USN.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1200px;
  -webkit-filter: sepia(1) contrast(50%);
  filter: sepia(1) contrast(50%);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

form {
  display: inline-block;
}

table, form, ul {
  border: 1px solid rgba(0,0,0,0);
}

table, ul {
  background-color: rgba(92, 156, 163, 0.65);
}

ul, tr th, tr td.row-label {
  color: #19E3E3;
  text-shadow: 2px 2px rgba(30,95,98,1);
}

ul {
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 3em;
  border-radius: 2%;
  padding: 1em;
  li {
    text-align: center;
    list-style-type: none;
  }

  span {
    display: inline-block;
    margin-bottom: 1em;
  }
}

table {
  display: inline-block;
  border-radius: 1%;

  td {
    color: white;
    text-shadow: 2px 2px rgba(30,95,98,1);
    width: 50px;
    height: 50px;
    border-radius: 2%;
    text-align:center;

    &.row-label {
      width: 20px;
      font-weight: bold;
      text-align: center;
    }

    &[data-row][data-target='true'] {
      border: 2px solid red;
    }

    &[data-row] {
      border: 2px solid rgba(0,0,0,0.12);
      cursor: pointer;
      font-weight: 300;
    }
  }
}
